@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Work+Sans:wght@300&display=swap');

:root {
    --header-height: 5vh;
    --footer-height: 5vh;
    --title-font: 'Montserrat', sans-serif;
    --main-font: 'Montserrat', sans-serif;
    --label-and-input-margin: 5%;
    --input-and-error-width: 90%;
    
    --form-bg-color: rgba(47, 53, 55, 0.7);
    --form-font-color: #FEDB39;
    --other-font-color: #E3F6FF;
    --valid-color: #06FF00;
    --invalid-color: #FF1700; 

    /* font-sizes */
    --label-and-input-fontSize: calc(0.4rem + 1vw);
    --title-fontSize: calc(0.5rem + 1vw);


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

header {
    height: var(--header-height);
    background-color: var(--form-bg-color);
}
main {
    /* padding: 10px; */
    text-align: center;
    height: calc(100vh - var(--footer-height) - var(--header-height))
}

footer {
    height: var(--footer-height);   
}

div#hero-image {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url("./images/cityscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    
}

div#hero-image .background {
    height: 100%;
    background: linear-gradient(0.25turn, 
        black, 
        #020100, 
        rgba(33, 39, 48, 0.5), 
        rgba(57, 62, 70, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#hero-image img#model {
    position: absolute;
    bottom:0;
    left: 0;
    height: 90%;
    object-fit:cover;
}

#hero-image img#banner {
    margin: 0 auto;
    width: 100%;
    max-height: 90%;
    z-index: 1;
    background: linear-gradient(0.75turn, 
        rgba(0, 0, 0, 0.4), 
        rgba(2, 1, 0, 0.3), 
        rgba(33, 39, 48, 0.2), 
        rgba(57, 62, 70, 0));
    padding: 5px 10%;
}

#hero-image p#slogan {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    width: 100%;
    padding: 0 15%;
    text-align: right;
    text-shadow: 0 0 3px black;
    font-style: italic;
    background: linear-gradient(0.75turn, 
        rgba(249, 245, 75, 0.7), 
        rgba(139, 245, 250, 0.5), 
        rgba(63, 151, 155, 0.3),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0));
    z-index: 1;
}

div#create-account {
    width: 100%;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    padding: 5px;
}

div#form-main {
    background-color: var(--form-bg-color);
    margin: auto;
    width: 95%;
    padding: calc(5px + 1vw);
}

#create-account p {
    font-size: var(--title-fontSize);
    margin: calc(10px + 1vw) auto;
    color: var(--other-font-color);
}

.input-div {
    padding: calc(0.5px + 0.5vw);
    display: flex;
    flex-direction: column;
    margin-bottom: calc(5px + 2vw);
}

.input-div:last-of-type {
    margin-bottom: 0;
}

.input-div label {
    margin: calc(0.5px + 0.5vw) 0;
    text-align: left;
    margin-left: var(--label-and-input-margin);
    font-size: var(--label-and-input-fontSize);
    color: var(--form-font-color);
}
span.optional {
    font-style: italic;
    font-size: calc(0.8 * var(--label-and-input-fontSize));
}

input {
    display: block;
    margin: calc(0.5px + 0.5vw) var(--label-and-input-margin);
    width: var(--input-and-error-width);
    font-size: var(--label-and-input-fontSize);
    padding: 5px;
    background-color: #ECF9FF;
}

input.valid {
    border: 2px solid #99a1a4;
    box-shadow: 0 0 2px 2px var(--valid-color);
}

input.invalid {
    border: 2px solid rgb(153, 161, 164);
    box-shadow: 0 0 2px 2px var(--invalid-color);
}   

.error-message, .guide {
    list-style-type: none;
    color: #EB455F;
    font-size: calc(0.9 * var(--label-and-input-fontSize));
    text-align: left;
    margin-left: var(--label-and-input-margin);
    vertical-align: middle;
    width: var(--input-and-error-width);
    padding: 5px 5px 5px 20px;
    text-indent: -7px;
    background-color: rgba(123, 143, 161, 0.2);
    display: none;
    margin-top: 5px;
    border-radius: 6px;
}

li {
    margin: calc(5px + 0.1vw) 0;
}

.guide {
    display: none;
    color: var(--other-font-color);
}


.reminder {
    color: #F9F54B;
}

button[type="submit"] {
    margin: calc(1px + 1vw);
    width: 60%;
    padding: 5px;
    font-size: calc(var(--label-and-input-fontSize) + 0.5vw);
    font-weight: bold;
    background-color: var(--form-font-color);
    border-radius: 5px;
    color: #020100;
    border: 3px solid #F9F54B;
}

button[type="submit"]:hover {
    box-shadow: 0 0 10px 2px rgba(14, 245, 233, 0.5);
}

button[type="submit"]:active {
    transform: scale(0.98);
}

#log-in p, #log-in a {
    font-size: calc(0.5rem + 1vw);
    margin: 5px;
    display: inline-block;
}

#log-in a {
    text-decoration: none;
    color: #e6d796;
    margin-left: 0;
}
#log-in a:visited {
    color: #e6d796;
}
#log-in a:hover,
#log-in a:focus {
    color: #F9F54B;
}
#log-in a:active {
    color: #F9F54B;;
}


div#log-in {
    margin: calc(5px + 1vw) 0 0 ;
}
